html {
    background-color: rgb(224, 224,224);
}
body {
    color:black;
}
table {
    background-color: rgb(102, 101, 132);
    text-align: center;
}
.table {
    background-color: white;
    text-align: center;
}