html {
    background-color: rgb(224, 224,224);
}
body {
    color:black;
}
table {
    background-color: rgb(102, 101, 132);
    text-align: center;
}
.tables {
    background-color: white;
    text-align: center;
}
.sorok {
    background-color: rgb(205, 219, 235);
    height: 35px;
}
#vanne {
    margin: 0px 5px 0px;
    float: right;
}